<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="https://www.epfl.ch" target="_blank">EPFL</a></li>
          <li><a href="https://indy.epfl.ch" target="_blank">INDY Lab</a></li>
          <li>
            <a href="http://eepurl.com/grL03b"d target="_blank">Subscribe to our newsletter</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © <script>document.write(new Date().getFullYear())</script> INDY Lab
        </span>
      </div>
    </div>
  </div>
</footer>
