<nav class="navbar navbar-expand-md bg-primary fixed-top ">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right burger-menu" type="button" data-toggle="collapse"
        data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Predikon</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="ui search" style='padding:1rem'>
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search ...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('patterns') }}" class="nav-link">Voting Patterns</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('remapping') }}" class="nav-link">Remapping</a>
        </li>
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vote Results
          </a>
          <div class="dropdown-menu" style=" max-height: 500px;
          overflow-y: auto;
          overflow-x: hidden;" aria-labelledby="navbarDropdown">

            {% for vote in voteList %}
            <a class="dropdown-item" style="width: 500px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;" href="/vote_results/{{vote.id}}">{{vote.title}}</a>
            {% endfor %}
        </li>
        <li class="nav-item">
          <a href="{{ url_for('about') }}" class="nav-link">About</a>
        </li>

      </ul>
    </div>
  </div>
</nav>