{% extends "skeleton.html" %}

{% block content %}

<div class="section">
    <div class="container">
        <div id="mapContainer" style="float:left; width:50%" class="row justify-content-center"></div>
        <div id="svdContainer" style="width:50%" class="row justify-content-center">

        </div>



    </div>
</div>

<script src="http://d3js.org/d3.v4.min.js"></script>
<script>
    // set the dimensions and margins of the graph
    var margin = {
            top: 10,
            right: 30,
            bottom: 30,
            left: 60
        },
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    var svg = d3.select("#svdContainer").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")")




    d3.csv("/static/svdMatrix.csv", function (error, data) {
        if (error) return console.log(error); //unknown error, check the console

        // Add X axis
        var x = d3.scaleLinear()
            .domain([2.5, -2.5])
            .range([0, width])

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([-2.5, 2.5])
            .range([0, height]);
        svg.append("g")
            .attr("transform", "translate(0," + y(0) + ")")
            .call(d3.axisBottom(x).tickSize(0))
            .selectAll("text").remove()


        svg.append("g")
            .attr("transform", "translate(" + x(0) + ",0)")
            .call(d3.axisLeft(y).tickSize(0))
            .selectAll("text").remove();


        // Add dots
        svg.append('g')
            .selectAll("dot")
            .data(data)
            .enter()
            .append("circle")
            .attr("mcpId", function (d) {
                return Math.round(d.mcp_ogd);
            })

            .attr("cx", function (d) {
                return x(d.x);
            })
            .attr("cy", function (d) {
                return y(d.y);
            })
            .attr("r", 1.5)
            .style("fill", "#69b3a2")
            .on("mouseover", function (d) {

                $("#mapContainer").find("[mcpId='" + Math.round(d.mcp_ogd) + "']").triggerSVGEvent(
                    'mouseover').css(
                    "opacity", "0.3")

            })
            .on("mouseout", function (d) {
                $("[mcpId='" + Math.round(d.mcp_ogd) + "']").css("opacity", "1")
                    .popover("hide")
            })
    });
</script>
<script>
    var percentColors = [{
            pct: 0.0,
            color: {
                r: 0xff,
                g: 0x00,
                b: 0
            }
        },
        {
            pct: 0.5,
            color: {
                r: 0xff,
                g: 0xff,
                b: 0
            }
        },
        {
            pct: 1.0,
            color: {
                r: 0x00,
                g: 0x80,
                b: 0
            }
        }
    ];

    var getColorForPercentage = function (pct) {
        for (var i = 1; i < percentColors.length - 1; i++) {
            if (pct < percentColors[i].pct) {
                break;
            }
        }
        var lower = percentColors[i - 1];
        var upper = percentColors[i];
        var range = upper.pct - lower.pct;
        var rangePct = (pct - lower.pct) / range;
        var pctLower = 1 - rangePct;
        var pctUpper = rangePct;
        var color = {
            r: Math.floor(lower.color.r * pctLower + upper.color.r * pctUpper),
            g: Math.floor(lower.color.g * pctLower + upper.color.g * pctUpper),
            b: Math.floor(lower.color.b * pctLower + upper.color.b * pctUpper)
        };
        return 'rgb(' + [color.r, color.g, color.b].join(',') + ')';
        // or output as hex if preferred
    }

    //Map dimensions (in pixels)
    var width2 = 600,
        height2 = 385;

    //Map projection
    var projection = d3.geoMercator()
        .scale(7199.647436311883)
        .center([8.223981, 46.82243520556143]) //projection center
        .translate([width2 / 2, height2 / 2]) //translate to center the map in view

    //Generate paths based on projection
    var path2 = d3.geoPath()
        .projection(projection);



    var svg2 = d3.select("#mapContainer").append("svg")
        .attr("width", width2)
        .attr("height", height2);

    //Group for the map features
    var features2 = svg2.append("g")
        .attr("class", "features");

    //Create zoom/pan listener
    //Change [1,Infinity] to adjust the min/max zoom scale
    var zoom2 = d3.zoom()
        .scaleExtent([1, Infinity])
        .on("zoom", zoomed);

    svg2.call(zoom2);

    d3.json("/static/swiss-mcp.json", function (error, geodata) {
        if (error) return console.log(error); //unknown error, check the console

        d3.json("/get_vote_results/1", function (error, dbdata) {
            if (error) return console.log(error); //unknown error, check the console

            for (var n = 0; n < geodata.features.length; n++) {
                var municip = geodata.features[n].properties.shapeid;

                if (typeof dbdata.data[municip] !== 'undefined') {
                    geodata.features[n].properties.id = municip;
                    geodata.features[n].properties.votePercentage = dbdata.data[municip]
                        .numYes / dbdata.data[municip]
                        .numTotal;
                    geodata.features[n].properties.pop = dbdata.data[municip].pop;
                    geodata.features[n].properties.area = dbdata.data[municip].area;
                    geodata.features[n].properties.name = dbdata.data[municip].name;
                    geodata.features[n].properties.flag = dbdata.data[municip].flag;
                    geodata.features[n].properties.pc = dbdata.data[municip].postal_code;
                    geodata.features[n].properties.language = dbdata.data[municip].language;
                }
            }

            //Create a path for each map feature in the data
            features2.selectAll("path")
                .data(geodata.features)
                .enter()
                .append("path")
                .attr("d", path2)
                .attr("mcpId", function (d) {
                    return Math.round(d.properties.id);
                })
                .style("fill", function (d) {
                    //get the data value
                    if (typeof d.properties.language !== 'undefined') {
                        switch (d.properties.language) {
                            case "German":
                                return "green"
                            case "French":
                                return "orange"
                            case "Swiss Standard German":
                                return "blue"
                            default:
                                return "grey"
                        }

                    } else {
                        return "#grey";
                    }
                })
                .on("mouseover", function (d) {
                    $("#mapContainer").find("[mcpId='" + d.properties.id + "']").popover({
                        title: d.properties.name,
                        html: true,
                        content: '<p id="mcp"></p></div> Area: ' +
                            d.properties.area + ' km<sup>2</sup> <br/> Population: ' +
                            d.properties.pop + ' <br/> Language: ' +
                            d.properties.language + ' <br/> Postal Code: ' +
                            d.properties.pc,
                        container: 'body',
                        placement: 'top',
                        template: '<div class="popover" role="tooltip"><div class="arrow"></div><img src="' +
                            d
                            .properties.flag +
                            '" style="width:30px;height:30px; float: left; margin: 10px" id="flag"></img><h3 class="popover-header"></h3><div class="popover-body"></div></div>'
                    }).popover("show").css(
                        "opacity", "0.3")
                })
                .on("mouseout", function (d) {
                    $("[mcpId='" + d.properties.id + "']")
                        .popover("hide").css("opacity", "1")
                });

        });
    });

    //Update map on zoom/pan
    function zoomed() {
        features.attr("transform", "translate(" + zoom2.translate() + ")scale(" + zoom2.scale() + ")")
            .selectAll("path").style("stroke-width", 1 / zoom2.scale() + "px");
    }
</script>


{% endblock %}