{% extends "skeleton.html" %}

{% block content %}

<div class="section">
  <div class="container">
    <select style="max-width:200px;" id="voteSelect">
      {% for vote in voteList %}
      <option value="{{vote.id}}">{{vote.title}}</option>
      {% endfor %}
    </select>
    <div id="mapContainer" class="row justify-content-center">


    </div>
  </div>
</div>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script>
  var percentColors = [{
      pct: 0.0,
      color: {
        r: 0xff,
        g: 0x00,
        b: 0
      }
    },
    {
      pct: 0.5,
      color: {
        r: 0xff,
        g: 0xff,
        b: 0
      }
    },
    {
      pct: 1.0,
      color: {
        r: 0x00,
        g: 0x80,
        b: 0
      }
    }
  ];

  var getColorForPercentage = function (pct) {
    for (var i = 1; i < percentColors.length - 1; i++) {
      if (pct < percentColors[i].pct) {
        break;
      }
    }
    var lower = percentColors[i - 1];
    var upper = percentColors[i];
    var range = upper.pct - lower.pct;
    var rangePct = (pct - lower.pct) / range;
    var pctLower = 1 - rangePct;
    var pctUpper = rangePct;
    var color = {
      r: Math.floor(lower.color.r * pctLower + upper.color.r * pctUpper),
      g: Math.floor(lower.color.g * pctLower + upper.color.g * pctUpper),
      b: Math.floor(lower.color.b * pctLower + upper.color.b * pctUpper)
    };
    return 'rgb(' + [color.r, color.g, color.b].join(',') + ')';
    // or output as hex if preferred
  }

  //Map dimensions (in pixels)
  var width = 600,
    height = 385;

  //Map projection
  var projection = d3.geoMercator()
    .scale(7199.647436311883)
    .center([8.223981, 46.82243520556143]) //projection center
    .translate([width / 2, height / 2]) //translate to center the map in view

  //Generate paths based on projection
  var path = d3.geoPath()
    .projection(projection);

  var drawMap = function (voteId) {
    //Create an SVG
    d3.select("svg").remove();
    var svg = d3.select("#mapContainer").append("svg")
      .attr("width", width)
      .attr("height", height);

    //Group for the map features
    var features = svg.append("g")
      .attr("class", "features");

    //Create zoom/pan listener
    //Change [1,Infinity] to adjust the min/max zoom scale


    d3.json("/static/swiss-mcp.json", function (error, geodata) {
      if (error) return console.log(error); //unknown error, check the console

      d3.json("/get_vote_results/" + voteId, function (error, dbdata) {
        if (error) return console.log(error); //unknown error, check the console

        for (var n = 0; n < geodata.features.length; n++) {
          var municip = geodata.features[n].properties.shapeid;

          if (typeof dbdata.data[municip] !== 'undefined') {
            geodata.features[n].properties.id = municip;
            geodata.features[n].properties.votePercentage = dbdata.data[municip].numYes / dbdata.data[municip]
              .numTotal;
            geodata.features[n].properties.pop = dbdata.data[municip].pop;
            geodata.features[n].properties.area = dbdata.data[municip].area;
            geodata.features[n].properties.name = dbdata.data[municip].name;
            geodata.features[n].properties.flag = dbdata.data[municip].flag;
            geodata.features[n].properties.pc = dbdata.data[municip].postal_code;
            geodata.features[n].properties.language = dbdata.data[municip].language;
          }
        }

        //Create a path for each map feature in the data
        features.selectAll("path")
          .data(geodata.features)
          .enter()
          .append("path")
          .attr("d", path)
          .style("fill", function (d) {
            //get the data value
            if (typeof d.properties.votePercentage !== 'undefined') {
              var votePercentage = d.properties.votePercentage;
              return getColorForPercentage(votePercentage);
            } else {
              return "#83E1F8";
            }
          })
          .attr("mcpId", function (d) {
            return d.properties.id
          })
          .on("mouseover", function (d) {
            $("[mcpId='" + d.properties.id + "']").popover({
              title: d.properties.name,
              html: true,
              content: '<p id="mcp"></p></div> Area: ' +
                d.properties.area + ' km<sup>2</sup> <br/> Population: ' +
                d.properties.pop + ' <br/> Language: ' +
                d.properties.language + ' <br/> Postal Code: ' +
                d.properties.pc,
              container: 'body',
              placement: 'top',
              template: '<div class="popover" role="tooltip"><div class="arrow"></div><img src="' + d
                .properties.flag +
                '" style="width:30px;height:30px; float: left; margin: 10px" id="flag"></img><h3 class="popover-header"></h3><div class="popover-body"></div></div>'
            }).popover("show")
          })
          .on("mouseout", function (d) {
            $("[mcpId='" + d.properties.id + "']")
              .popover("hide")
          });

      });
    });


    // Add optional onClick events for features here
    // d.properties contains the attributes (e.g. d.properties.name, d.properties.population)
    function clicked(d, i) {}
  };
  // Draw first map
  drawMap($("#voteSelect").val());


  $("#voteSelect").change(function () {

    drawMap($(this).val());
  });
</script>


{% endblock %}