<VirtualHost *:80>
    ServerAdmin victor.kristof@epfl.ch

    ServerName dev.predikon.ch

    DocumentRoot "/var/www/predikon-dev"

    ErrorLog "/var/log/apache2/predikon-dev-error.log"
    CustomLog "/var/log/apache2/predikon-dev-access.log" common
    LogLevel info

    SetEnv PREDIKON_ROOT "/var/www/predikon-dev"

    WSGIDaemonProcess predikon-dev user=predikon group=predikon threads=5 \
        python-path=/var/www/venv/lib/python2.7/site-packages
    WSGIScriptAlias / "/var/www/predikon-dev/predikon.wsgi"

    <Directory "/var/www/predikon-dev">
        WSGIProcessGroup predikon-dev
        WSGIApplicationGroup %{GLOBAL}

        Order deny,allow
        Allow from 128.178
        Allow from 128.179
        Deny from all
    </Directory>
</VirtualHost>
