<VirtualHost *:80>
    # Source: http://flask.pocoo.org/docs/1.0/deploying/mod_wsgi/#creating-a-wsgi-file
    ServerAdmin victor.kristof@epfl.ch

    ServerName www.predikon.ch

    DocumentRoot "/var/www/predikon-v2"

    ErrorLog "/home/predikon/logs/webapp.err"
    CustomLog "/home/predikon/logs/webapp.log" common
    LogLevel debug

    SetEnv PREDIKON_DB "/home/predikon/data/db/predikon.db"

    # python-path:
    #  /var/www/predikon-v2 -> to get predikonwbap module with Flask app object.
    #  /home/.../site-packages -> to get libraries installed with miniconda.
    # WSGIDaemonProcess predikon-v2 user=predikon group=predikon threads=5 \
        # python-path=/var/www/predikon-v2:/home/predikon/miniconda/envs/py3/lib/python3.6/site-packages
    # Link to wsgi object.
    # WSGIScriptAlias / "/var/www/predikon-v2/predikon.wsgi"

    ProxyPreserveHost On
    ProxyPass         /  http://localhost:8000/
    ProxyPassReverse  /  http://localhost:8000/

    # <Directory "/var/www/predikon-v2">
        # WSGIProcessGroup predikon-v2
        # WSGIApplicationGroup %{GLOBAL}
        # Require all granted
    # </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerName predikon.ch
    Redirect permanent / http://www.predikon.ch
</VirtualHost>

<VirtualHost *:80>
    ServerName 192.33.210.59
    RedirectMatch permanent / https://www.epfl.ch
</VirtualHost>
